<!DOCTYPE html>
{% import tornado.template %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>NITAC Procon</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("temp.css") }}">
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="home" class="navbar-brand">NITAC Programming club</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="activity">Activity</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="link">Link</a></li>
          <li><a href="wiki">Wiki</a></li>
          {% if login_user == None %}
            <li><a href="/auth/login">Login</a></li>
          {% else %}
            <li><a href="/auth/logout">Logout</a></li>
          {% end %}
        </ul>
      </div>
    </div>
  </div>
</header>

<body>
  {% for b in list(blog_data) %}
    <div class="container">
      <div id = "blog">
        <font size=7>{{b[3]}}</font>
        <font size=4>{{b[4]}}</font><br>
        <font size=6>{{b[5]}}</font><br>
        <font size=4> {{b[1]}} </font>
        <font size=3>{{str(b[2])}}</font>
        <br>
      </div>
    </div>
    <br>
  {% end %}
  {% if login_user != None %}
    <div class="container">
      <form method="post" action="/blog">
        {% module xsrf_form_html() %}  
        タイトル<br>
        <textarea name="blog_title" cols="50" rows="1"></textarea>
        <br>カテゴリ<br>
        <textarea name="blog_category" cols="50" rows="1"></textarea>
        <br>本文<br>
        <textarea name="blog_body" cols="50" rows="6"></textarea><br>
        <input type="submit">
      </form>
    </div>
    <br>
    <div class="container">
      <form method="post" action="/blog/image_save" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
        <input type="file" name="aaa"/>
        <input type="submit"/>
      </form>
    </div>
  {% end %}

</body>
