<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>阿南高専プロコン部</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("temp.css") }}">
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/home" class="navbar-brand">NITAC Programming club</a>
        <ul class="nav navbar-nav">
          <li><a href="/activity">Activity</a></li>
          <li><a href="/blog/1">Blog</a></li>
          <li><a href="/link">Link</a></li>
          <li><a href="/wiki">Wiki</a></li>
          {% if login_user == None %}
            <li><a href="/auth/login">Login</a></li>
          {% else %}
            <li><a href="/auth/logout">Logout</a></li>
          {% end %}
          {% if access_right %}
            <li><a href="/auth/add_user">Add User</a></li>
          {% end %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="jumbotron">
	<div class="container">
		<h1>NITAC Procon</h1>
    <p id="subtext">We spent last weekend being lazy.</p>
    <p><a class="btn btn-primary btn-lg" href="/activity" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <h1>About us</h1>
  <p>
  私達は、阿南高専プログラミング部同好会です。<br>
  全国プログラミングコンテストで入賞を目標に活動しています。<br>
  オフシーズンは各々がプログラミング能力の向上を目指し勉強しています。<br>
  といってもお菓子を食べたり専門系の課題をしたりゲームを作ったりと気軽に楽しく過ごしています。<br>
  先輩も優しい人ばかりで気軽に話ができます（と言ってもこの文を書いてる私は五年生です）。<br>
  「プログラミング」と言われても、ピンとこない人も少なくないでしょう。<br>
  しかし、心配することはありません。これから身に付ければ大丈夫です。<br>
  気難しく考えずに、共に学んでいきませんか？<br>
  </p>
</div>

<div class="container">
  <h1>Current project</h1>
  <p>
  H28プロコンに向けた調整中<br>
  H28プロコンに向けた調整中<br>
  H28プロコンに向けた調整中<br>
  </p>
</div>

<div class="container">
  <h1>Past record</h1>
  <p>
  H27プロコン企業賞<br>
  H27四国地区総合文化祭ミニプロコン２位
  etc.
  </p>
</div>
